body {
        font-family: Arial, sans-serif;
}

.form-container {
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
text-align: center;
}

.form-group {
margin-bottom: 15px;
}

.form-group label {
display: block;
font-weight: bold;
margin-bottom: 5px;
}

.form-group input {
width: 100%;
padding: 8;
}

.btn-open-popup {
    padding: 12px 24px;
    background: green;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.btn-open-popup:hover {
    background-color: #4caf50;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 80%;
    text-align: center;
    opacity: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: green;
    margin-right: 20px;
}

.btn-check {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: orange;
    margin-right: 20px;
}

.btn-close-popup {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: red;
}

.btn-submit hover{
    color: black;
    background: grey;
}

.overlay-container.show {
    display: flex;
    opacity: 1;
}

.table-btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}