.btn-open-popup-sync{
    padding: 12px 24px;
    background: green;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-open-popup-newStudies{
    padding: 12px 24px;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-open-popup-upload {
    padding: 12px 24px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.table-btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}