body {
    font-family: Arial, sans-serif;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.overlay-container.show {
    display: flex;
    opacity: 1;
    z-index: 2;
}

.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 60%;
    text-align: center;
    opacity: 1;
}

.btn-submit {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: #009384;
    margin-right: 20px;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.table-btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.btn-close-popup {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: #F26522;
}

.btn-submit hover{
    color: black;
    background: grey;
}

.table td, .stone-img {
    width: 28px;
}

.table td, .ohif-img {
    width: 28px;
    margin-left: 12px;
}

.table td, .uid-td, .description-td {
    word-break: break-all;
    width: fit-content;
}

#table-scroll {
  height:35em;
  overflow:auto;
  margin-top:20px;
}

.table {
    display: inline-table;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

table[data-sortable] {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
}
table[data-sortable] th {
  vertical-align: top !important;
  font-weight: bold;
}
table[data-sortable] th, table[data-sortable] td {
  text-align: left;
  padding: 5px;
}
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}
table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: inherit;
  margin-top: 0px;
}
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: inherit;
  margin-top: 0px;
}