.btn-open-popup {
    background: #009384;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 7px
}

.configure_td {
    text-align: center;
}

.btn-check {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: #5B57A6;
    margin-right: 20px;
}
