.btn-open-popup-sync{
    background: #009A8A;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-open-popup-newStudies{
    background: #D89F19;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-open-popup-upload {
    background: #5D59AC;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.form-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.table-btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.table td, .ohif-img, .stone-img {
    width: 20px;
    margin-left: 12px;
}