.btn-open-popup-sync{
    background: #009384;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-open-popup-newStudies{
    background: #EEA616;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-open-popup-upload {
    background: #5B57A6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.form-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.table td, .ohif-img, .stone-img {
    width: 20px;
    margin-left: 12px;
}