.procedureField {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
    color: #333;
}

.value {
    color: #555;
}

.hidden-steps td {
    padding: 7px 7px; /* Adjust padding for content */
}

.stepsDiv {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ECECEC;
    overflow: hidden; /* Prevent content from expanding row */
}

.procedureStepsTable {
    width: 100%;
    height: 100%;
}

.btn-open-popup-new-request {
    background: #5B57A6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 7px
}

.numbers-img {
    width: 30px;
    margin-left: 7px;
    margin-top: 6px;
}

.rpInput, .select-config, .select-status {
    width: 100%
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.overlay-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.new-img, .expand-img {
    width: 26px;
    margin-left: 12px;
}

.btn-delete-request {
    background: #F26522;
}

.procedureStepsTable, .step-name-th {
    width: 35%;
}